<div> Total likes: <%=@image.likes.count%></div>
<% if current_user.like?(@image)%>
<%= button_to "Unlike", [@image, :like], method: :delete%>
<%else%>
<%= button_to "Like this image", [@image, :like] %>
<%end%>
